html, body {
  scroll-behavior: smooth;
}
ul.content {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 10px;
}
.elements li {
  margin: 5px;
  height: 250px;
}
.menu a {
  display: inline-block;
  padding: 1em;
  background: lightgray;
}
.menu a.is-active {
  background: gray;
  color: white;
}
img {
  display: block;
}
